block variables
    
-
    userMenu = {
        'Dashboard': '/dashboard',
        'Projects': '/dashboard',
        'New project':'/dashboard'
        };
    adminMenu = {
        'Admin Dashboard': '/admin',
    };

doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(href="https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400&display=swap", rel="stylesheet")
        link(rel="canonical", href="https://getbootstrap.com/docs/5.0/components/carousel/")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x", crossorigin="anonymous")
        link(rel="stylesheet", href="/stylesheets/style.css")
        link(rel="stylesheet", href="/javascripts/plugins/toast/jquery.toast.min.css")
        block stylesheets
        link(rel="apple-touch-icon", sizes="180x180", href="/favicon/apple-touch-icon.png")
        link(rel="icon", type="image/png", sizes="32x32", href="/favicon/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="16x16", href="/favicon/favicon-16x16.png")
        link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#5bbad5")
        meta(name="msapplication-TileColor", content="#da532c")
        meta(name="theme-color", content="#ffffff")
        script(src="https://code.jquery.com/jquery-3.6.0.min.js", integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=", crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js", integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4", crossorigin="anonymous")
        script(src="https://kit.fontawesome.com/e7e29266a1.js", crossorigin="anonymous")
        script(src="/javascripts/app.js")
        script(src="/javascripts/bs-tooltips.js")
        script(src="/javascripts/plugins/toast/jquery.toast.min.js")
        script(src="/javascripts/toaster.js")
        block scripts
        title Projector | #{title}
    body
        nav#main-nav.navbar.navbar-expand-lg.navbar-dark.fixed-top.py-0.py-md-1.shadow-sm
            .container-fluid
                a.navbar-brand(href="/", title="Projector Home")
                    i.fas.fa-project-diagram
                if user != undefined
                    button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
                        span.navbar-toggler-icon
                    .collapse.navbar-collapse#navbarSupportedContent
                        ul.navbar-nav.me-auto.mb-2.mb-lg-0#nav-links
                            each val, key in userMenu
                                li.nav-item
                                    a.nav-link(href=val) #{key}
                            if userIsSuper == 1
                                li.nav-item.dropdown
                                    a.nav-link.dropdown-toggle(href="#", id="adminDropdownMenuLink", role="button", data-bs-toggle="dropdown", aria-expanded="false") Admin
                                    ul.dropdown-menu.dropdown-menu-dark(aria-labelledby="adminDropdownMenuLink")
                                        each val, key in adminMenu
                                            li
                                                a.dropdown-item(href=val) #{key}
                            li.nav-item.d-inline.d-lg-none
                                a.nav-link.extra-nav(href="/users/profile") #{user.profile.firstName} #{user.profile.lastName} 
                            li.nav-item.d-inline.d-lg-none
                                a.nav-link.extra-nav(href="/users/logout") Logout
                    a.nav-link.extra-nav.d-none.d-lg-inline(href="/users/profile") #{user.profile.firstName} #{user.profile.lastName} 
                    a.nav-link.extra-nav.d-none.d-lg-inline(href="/users/logout") Logout
                else
                    a.nav-link.extra-nav(href="/users/login") Log In
        section.container-fluid.my-4.py-5
            block content

        footer#page-footer.fixed-bottom.text-center.shadow-sm.py-1.
            Built with #[a(href="https://expressjs.com/") Express.js], login powered by #[a(href="https://developer.okta.com/") Okta].
